<?xml version="1.0" encoding="UTF-8"?>
	<!-- 日志级别 trace < debug < info < warn < error < fatal -->
	<!-- status=debug 可以查看log4j的装配过程 -->
<configuration status="OFF" monitorInterval="1800">
	<!-- 先定义所有的appender -->
	<appenders>
		<!-- 这个输出控制台的配置 -->
		<Console name="stdout" target="SYSTEM_OUT">
			<!-- 控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="trace" onMatch="ACCEPT"
				onMismatch="DENY" />
			<!-- 输出日志的格式 -->
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
	</appenders>

	<loggers>
		<!-- 建立一个默认的root的logger -->
		<root level="info">
			<appender-ref ref="stdout" />
		</root>
	</loggers>
</configuration>